.button {
  border: 1px solid #59b5cc;
  background: #59b5cc;
  /* color: white; */
  cursor: pointer;
  padding: 0.4rem 3rem;
  margin: 25px 0px;
  border-radius: 5px;
}

.button:hover,
.button:active {
  background: hsl(192, 68%, 65%);
  border-color: hsl(192, 68%, 65%);
}

.button:focus {
  outline: none;
}