.container {
    width: 90%;
    margin: 20px auto 0px;
}

.card {
    /* background-color: rgb(244, 244, 244); */
    width: 100%;
    display: block;
    border-radius: 5px;
    border: 2px solid rgb(244, 244, 244);
    margin-top: 10px;
}

.title {
    height: 50px;
    margin-bottom: 30px;
}

 .text {
    height: 350px;
 }

 .button_wrapper {
     text-align: center;
 }